# ENVIRONMENT VARIABLES
/secrets/*/**
!/secrets/backend/*.tfvars.example
!/secrets/environments/*.tfvars.example

# TERRAFORM CONFIGURATION
/terraform/.terraform
/terraform/terraform.tfstate.d
/terraform/main.tf
/terraform/output/*.json
